html {

  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

html {
  font-size: 14px;
}

body {
  color: #bfc1c8;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  background: #464c6d;
  margin-left: 0px;
  padding-left: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0 0 20px;
  line-height: normal;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #009ad8;
}

p {
  margin-top: 0;
}

form input,
form textarea,
form select {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 30px;
}

form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.button,
form input[type="submit"],
form button,
form input[type="reset"] {
  border: none;
  background: #009ad8;
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

.container:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*
 * Header Styles
 */
.site-header {
  padding: 20px 0;
}

.site-header .branding {
  float: left;
}

.site-header .branding .logo,
.site-header .branding .logo-type {
  display: inline-block;
  vertical-align: middle;
}

.site-header .branding .logo {
  margin-right: 10px;
}

.site-header .branding .site-title {
  margin-bottom: 50px;
  font-size: 30px;
  color: white;
}

.hero {
  background-size: cover;
  min-height: 130px;
}

.find-location input[type="checkbox"] {
  margin: 20px 2px 20px 20px;
}

.forecast-container {
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.forecast-container .forecast {
  width: auto;
  padding: 10px;
  margin-right: 8px; /* Espace entre les cartes */
  min-width: 300px; /* Largeur minimale pour les petites cartes */
  box-sizing: border-box; /* Inclut le padding et les marges dans les dimensions totales */
}


.forecast-container .forecast .forecast-header {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  font-weight: 400;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.forecast-container .forecast .forecast-content {
  background-color: #282a38;
  padding: 50px 20px 10px;
  text-align: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}


.forecast-container .forecast .forecast-content .degree {
  font-size: 20px;
  color: white;
  font-weight: 700;
}

#communeSelect {
  display: none;
  opacity: 0;
  animation: fadeInSelect 0.5s ease forwards;
}

.weather-day-card {
  opacity: 0;
  animation: fadeInUp 0.5s ease forwards;
  animation-delay: 0s;
}

.hidden {
  display: none;
}

/* Styles par défaut pour les grands écrans (desktop) */
.site-content {
  padding: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.site-content.loaded {
    opacity: 1;
}

.find-location {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.config {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
  max-width: 600px;
}

#postalCode {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 16px;
}

#communeSelect,
#daysSelect,
#getWeatherButton {
  font-size: 16px;
  margin: 5px;
  padding-right: 50px;
  opacity: 0;
  animation: fadeInButton 0.5s ease forwards;
  animation-delay: 0.2s;
}

/* Mise en page responsive pour mobile */
@media screen and (max-width: 768px) {
  .forecast {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .forecast-content {
    text-align: center;
  }

  .forecast-header {
    font-size: 14px;
  }

  .weather-day-card {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}

/* Media query pour les tablettes */
@media (max-width: 768px) {
  .config {
    flex-direction: column;
    align-items: center;
  }

  #postalCode {
    width: 80%;
  }

  #communeSelect,
  #daysSelect,
  #getWeatherButton {
    width: 80%;
    font-size: 14px;
  }

  .forecast-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}

/* Media query pour les mobiles */
@media (max-width: 480px) {
  .find-location {
    width: 100%;
  }

  #postalCode {
    width: 90%;
    font-size: 14px;
  }

  .config {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }

  #communeSelect,
  #daysSelect,
  #getWeatherButton {
    padding-right: 45px;
    width: 100%;
    font-size: 14px;
  }

  .forecast-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .forecast-content {
    text-align: center;
  }

  .forecast-header {
    font-size: 14px;
  }
}

.weather-icon {
  margin-bottom: 10px; /* Espacement sous l'icône météo */
}

.degree {
  font-size: 1.2em; /* Taille de police pour les températures */
  color: #ff5722; /* Couleur de texte pour les températures */
}

span {
  align-items: center; /* Aligne verticalement les icônes et le texte */
}

span img {
  margin-right: 5px; /* Espacement entre l'icône et le texte */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .weather-day-card {
      margin: 10px; /* Réduit les marges sur les petits écrans */
      padding: 10px; /* Réduit l'espacement interne */
  }

  .forecast-header {
      font-size: 1.2em; /* Réduit la taille du texte pour le jour */
  }

  .degree {
      font-size: 1em; /* Réduit la taille de police pour les températures */
  }
}

@media screen and (max-width: 480px) {
  .weather-day-card {
      margin: 5px; /* Réduit encore les marges pour les très petits écrans */
      padding: 8px; /* Réduit l'espacement interne */
  }

  .forecast-header {
      font-size: 1em; /* Réduit la taille du texte pour le jour */
  }

  .degree {
      font-size: 0.9em; /* Réduit la taille de police pour les températures */
  }
}


/* Animation pour l'apparition des cards météo */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}	

/* Animation pour le bouton */
@keyframes fadeInButton {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Animation pour la liste déroulante */
@keyframes fadeInSelect {
  from {
    opacity: 0;
    transform: translate(-20px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

select {
  -webkit-appearance: none; /* Supprimer le style par défaut */
  -moz-appearance: none;    /* Supprimer le style par défaut */
  appearance: none;         /* Supprimer le style par défaut */
  background-color: white;
  padding: 10px;
  padding-right: 40px; /* Augmenter l'espace pour la flèche */
  border: 1px solid #ccc;
  border-radius: 30px; /* Arrondir les coins pour correspondre au style du site */
  font-size: 16px;
  background-image: url('../images/down-arrow.svg'); /* Image d'une flèche vers le bas */
  background-position: right 10px center; /* Position de la flèche */
  background-repeat: no-repeat;
  background-size: 15px; /* Ajuster la taille de la flèche si nécessaire */
}

select:focus {
  outline: none;
  border-color: #007BFF; /* Changement de couleur à la sélection */
}

/* Ajouter une ombre portée pour plus de profondeur */
select {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


/* Animation fade-in */
@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}


#checkboxContainer {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#checkboxContainer.visible {
  display: flex;
  opacity: 1;
  animation: fadeIn 0.5s ease-in-out;
}

/* Style des petites checkbox */
input[type="checkbox"] {
  appearance: none; /* Supprimer le style natif */
  width: 16px;
  height: 16px;
  border: 2px solid #009ad8;
  border-radius: 4px; /* Légèrement arrondi */
  background-color: #1e202b;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 8px; /* Espacement entre la checkbox et le label */
  vertical-align: middle;
}

input[type="checkbox"]:checked {
  background-color: #009ad8;
  border-color: #007BFF;
}

input[type="checkbox"]:checked::after {
  display: block;
  font-size: 12px;
  color: white;
  text-align: center;
  line-height: 16px;
}

/* Style des labels plus compacts */
label {
  font-size: 14px;
  color: #bfc1c8;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 0; /* Enlever l'espace supplémentaire */
}

/* Style pour le conteneur de chargement */
.loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Toujours au-dessus */
  transition: opacity 0.5s ease-out; /* Transition pour l'effet de fondu */
}

/* Style du spinner lui-même */
.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #f3f3f3; /* Bord clair */
  border-top: 6px solid #009ad8; /* Bord coloré */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.fade-out {
  opacity: 0; /* Disparition progressive */
  transition: opacity 0.5s ease-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.color-change-3x {
	-webkit-animation: color-change-3x 4s linear NaNs infinite alternate both;
	        animation: color-change-3x 4s linear NaNs infinite alternate both;
}


@-webkit-keyframes color-change-3x {
  0% {
    background: #191d62;
  }
  50% {
    background: #656fe3;
  }
  100% {
    background: #9161f1;
  }
}
@keyframes color-change-3x {
  0% {
    background: #191d62;
  }
  50% {
    background: #656fe3;
  }
  100% {
    background: #9161f1;
  }
}
